<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>D18gu+vKDIls9zuftc/zQx6c5F0=</string>
	<key>CLIENT_ID</key>
	<string>d0f8c219-b504-4ead-9c78-705bcfab2e21</string>
	<key>googleMapsApiKey</key>
	<string>AIzaSyBOK7YCHAOittlORqY0IoMni_HC1Qh4U5M</string>
</dict>
</plist>
